@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a Senior majoring in MIS and Business Analytics. This summer, I will be interning at Dayton Freight Lines, where I will be serving as an IT Business Analyst.</p>
