@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Joseph Dale</h1>
    <p class="lead">View my LinkedIn profile here.</p>
    <p><a href="www.linkedin.com/in/joseph-dale" class="btn btn-primary btn-lg">View work &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My previous work</h2>
        <p>
            View some of my previous course work here.
        </p>
        <p><a class="btn btn-default" href="http://cob.ohio.edu/jd713116/">Previous work &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the company I will be interning with over the summer.</h2>
        <p>Learn more about Dayton Freight.</p>
        <p><a class="btn btn-default" href="https://www.daytonfreight.com/">Dayton Freight &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ohio University College of Business</h2>
        <p>Find out more about the place that is giving me the opportunity to go into a profession that I love.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
    </div>
</div>