@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Joseph Dale</h1>
    <p class="lead">View my LinkedIn profile here.</p>
    <p><a href="https://www.linkedin.com/in/joseph-dale/" class="btn btn-primary btn-lg">View work &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My previous work</h2>
        <p>
            View some of my course work here.
        </p>
        <p><a class="btn btn-default" href="http://cob.ohio.edu/jd713116/">Previous work &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>Links to sample models</p>
        @Html.ActionLink("Customers", "Index", "Customers")<br>
        @Html.ActionLink("Orders", "Index", "Orders")<br>
        @Html.ActionLink("Products", "Index", "Products")
        
    </div>
    <div class="col-md-4">
        <h2>Ohio University College of Business</h2>
        <p>Find out more about the place that is giving me the opportunity to go into a profession that I love.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
    </div>
</div>