@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Joseph Dale</h1>
    <p class="lead">View my previous work here.</p>
    <p><a href="cob.ohio.edu/jd713116" class="btn btn-primary btn-lg">View work &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Ohio</h2>
        <p>
            Learn more about OU.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the CoB</h2>
        <p>e Learn more about the CoB.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>