@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Joseph Dale and I am an MIS and Business Analytics major. This upcoming summer, I will be interning at Dayton Freight as an IT Business Analyst.</p>
