@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Joseph Dale<br />
    Copleand 012<br />
    <abbr title="Phone">P:</abbr>
    740-562-7210
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jd713116@ohio.edu">jd713116@ohio.edu</a><br />
</address>