@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Joseph Dale</h1>
    <p class="lead">Welcome to my application for MIS 4200!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SD2/3</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>Click to view my LinkedIn profile.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/joseph-dale/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>iRacing</h2>
        <p>Click to learn more about one of my favorite hobbies, iRacing!</p>
        <p><a class="btn btn-default" href="https://www.iracing.com/overview/">Learn more &raquo;</a></p>
    </div>
</div>